Repository ai-cherry/sophia-intel, changes with the owners that CODEOWNERS names for each.
All owners: @ai-cherry/maintainers, @ai-cherry/platform, @ai-cherry/ai, @ai-cherry/backend

CODEOWNERS:

# Default
*                                   @ai-cherry/maintainers

# Sensitive areas
/services/**                        @ai-cherry/platform
/mcp_servers/**                     @ai-cherry/ai
/config/**                          @ai-cherry/platform
/.devcontainer/**                   @ai-cherry/platform
/.github/**                         @ai-cherry/platform
/backend/**                         @ai-cherry/backend
/agents/**                          @ai-cherry/ai

🚀 DEPLOY: Sophia Intel CLI v3.0.0 - Multi-Platform Edition
  cli-tools/sophia-universal-cli
  codespaces/codespaces-setup.sh
  codespaces/devcontainer.json
  docs/README.md
  install-all.sh
  lib/ai_ops.sh
  lib/core.sh
  lib/file_ops.sh
  lib/repo_ops.sh
  mac-setup/mac-setup-enhanced.sh
  telegram-bot/telegram-bot-setup.sh
  telegram-bot/telegram_bot.py
Owners: @ai-cherry/maintainers

feat: implement advanced Portkey client with OpenRouter integration
  services/portkey_client.py
Owners: @ai-cherry/platform

feat: deploy advanced Portkey client with all provider integrations
  services/advanced_portkey_client.py
Owners: @ai-cherry/platform

feat: deploy Qdrant cloud memory system with vector embeddings
  services/qdrant_memory_system.py
Owners: @ai-cherry/platform

feat: deploy LangGraph swarm orchestration with phidata agents
  services/langgraph_swarm_orchestrator.py
Owners: @ai-cherry/platform

feat: deploy comprehensive swarm monitoring dashboard
  services/swarm_dashboard.py
Owners: @ai-cherry/platform

feat: deploy GitHub Actions for automated swarm deployment
  .github/workflows/swarm-deployment.yml
Owners: @ai-cherry/platform

feat(aios): Foundation - Architecture scaffold, branch cleanup, and secrets server
  .claude/openrouter-config.json
  .claude/settings.json
  .gitleaks/config.toml
  .sophia/memory/context_store.json
  AIOS_GAP_ANALYSIS.md
  BRANCH_RECONFIGURATION_PLAN.md
  SETUP_COMPLETE.md
  SWARM_PROMPT_BRANCH_RECONFIG.md
  SWARM_READY.md
  SWARM_REPOSITORY_ASSESSMENT_PROMPT.md
  ai_chat_with_memory.py
  deep-analysis.js
  deploy.sh
  infra/pulumi/Pulumi.yaml
  integrated_cli.py
  mcp-servers/secrets-server/src/server.py
  package.json
  reconfigure-branches.sh
  required-secrets.md
  scaffold-aios.sh
  scripts/memory_demo.py
  scripts/start_mcp_server.py
  scripts/test_memory.py
  setup-perfect-swarm.sh
  setup-swarm.sh
  simple_mcp_server.py
  swarm-aliases.sh
  swarm-cli.js
  tools/openrouter-mcp.js
Owners: @ai-cherry/maintainers

feat(aios): Phase 3 - Business domain integration and vision alignment
  IMPLEMENTATION_STATUS.md
  VISION_ALIGNMENT.md
  deploy-aios.sh
  docker-compose.mcp.yml
  infra/pulumi/index.ts
  infra/pulumi/package.json
  mcp-servers/agent-server/src/server.py
  mcp-servers/gong-mcp/server.py
  mcp-servers/memory-server/src/server.py
  mcp-servers/requirements.txt
  mcp-servers/secrets-server/Dockerfile
  mcp-servers/tool-server/src/server.py
  scripts/migrate-secrets-to-github.sh
Owners: @ai-cherry/maintainers

feat(aios): Complete foundation with north star alignment
  COMPLETE_IMPLEMENTATION_SUMMARY.md
  NORTH_STAR_EXECUTION_PLAN.md
Owners: @ai-cherry/maintainers

chore: manus smoke test file
  .github/manus-smoke.md
Owners: @ai-cherry/platform

Clean repo
  .env.example
  .gitignore
  README.md
Owners: @ai-cherry/maintainers

feat: add workflow automation tools
  .github/workflows/pr-sanity.yml
  scripts/gpush.sh
Owners: @ai-cherry/platform, @ai-cherry/maintainers

feat: Complete secrets structure and production login instructions
  PRODUCTION_LOGIN_INSTRUCTIONS.md
  config/embedding_models.yaml
  config/telemetry/telemetry_rules.yaml
  database/migrations/003_create_operational_telemetry.sql
  k8s/applications/brightdata-research-deployment.yaml
  k8s/applications/embedding-mcp-deployment.yaml
  k8s/applications/telemetry-mcp-deployment.yaml
  k8s/weaviate/weaviate-deployment.yaml
  mcp/embedding/embedding_mcp_server.py
  mcp/research/brightdata_research_server.py
  mcp/telemetry/telemetry_mcp_server.py
  test_telemetry_mcp.py
Owners: @ai-cherry/maintainers, @ai-cherry/platform

feat: Complete SOPHIA Voice Command Center with Mobile PWA - Production Ready!
  SOPHIA_VOICE_USER_GUIDE.md
  apps/mobile-pwa/src/assets/app.css
  apps/mobile-pwa/src/pages/mobile.html
  apps/mobile-pwa/src/utils/app.js
  apps/sophia-api/voice_command_api.py
  integrations/elevenlabs_client.py
  k8s/applications/sophia-mobile-pwa-deployment.yaml
  k8s/applications/sophia-voice-api-deployment.yaml
Owners: @ai-cherry/maintainers

deploy: b4af31d9683f3b36b81a4ba6caf477622f498f7c
  .nojekyll
  CNAME
  assets/index-CWpnxz73.js
  assets/index-DfxGY3TZ.css
  index.html
Owners: @ai-cherry/maintainers

New files from Fly.io Launch
  fly.toml
Owners: @ai-cherry/maintainers

backup: manual task priority implementation PR #198 (removed package.json)
  README.md
  SOPHIA_SCENARIO_1_REPORT.md
  test-results/.last-run.json
  test_dark_mode.js
  test_task_persistence.js
Owners: @ai-cherry/maintainers

[proof] SOPHIA v4.2: Complete MCP service fixes + deployment ready
  .github/pull_request_template.md
  .github/workflows/pr_title_lint.yml
  current_state_assessment.md
  docs/STATE_ASSESSMENT.md
  fly/Dockerfile.context
  fly/sophia-context-v42.fly.toml
  mcp_servers/context_app.py
  mcp_servers/context_server.py
  mcp_servers/research_app.py
  mcp_servers/research_server.py
  mcp_servers/research_server_corrupted.py
  proofs/README.md
  proofs/SOPHIA_V42_IMPLEMENTATION_COMPLETE.txt
  proofs/deployments/context-service-ready.txt
  proofs/deployments/research-service-fixes.txt
  proofs/healthz/sophia-code.txt
  proofs/healthz/sophia-research.txt
Owners: @ai-cherry/platform, @ai-cherry/maintainers, @ai-cherry/ai

[proof] v4.2: enhanced deploy workflow + proof manifest + PR package
  .github/workflows/deploy_prove.yml
  CHANGELOG.md
  PR_BODY_TEMPLATE.md
  proofs/manifest-2025-08-21T075000Z.json
Owners: @ai-cherry/platform, @ai-cherry/maintainers

[proof] v4.2: finalize proofs documentation
  proofs/README.md
Owners: @ai-cherry/maintainers

[proof] v4.2: complete implementation with metrics, contract tests, and deployment readiness
  mcp_servers/common/__init__.py
  mcp_servers/common/metrics.py
  mcp_servers/context_app.py
  mcp_servers/requirements.txt
  mcp_servers/research_app.py
  proofs/healthz/sophia-code-current.txt
  proofs/healthz/sophia-research-current.txt
  tests/test_action_schemas_v42.py
  tests/test_contracts_live_v42.py
Owners: @ai-cherry/ai, @ai-cherry/maintainers

[proof] v4.2: final deployment readiness documentation
  proofs/DEPLOYMENT_READY_FINAL.md
Owners: @ai-cherry/maintainers

[proof] Sophia v4.2 self-improvement and AI Factory design
  .github/workflows/knowledge_sync_notion.yml
  DEPLOYMENT_COMPLETE.md
  FINAL_STATUS_REPORT.md
  docs/CODING_RULES.md
  docs/REPO_IMPROVEMENTS.md
  docs/SOPHIA_Opinion_Report_v4.2.md
  docs/SOPHIA_Self_Improvement_Report.md
  mcp_servers/context/__init__.py
  mcp_servers/context/app.py
  mcp_servers/context/fly.toml
  mcp_servers/context/registry.py
  mcp_servers/context/requirements.txt
  package.json
  proofs/audit/one_off_candidates.json
  proofs/audit/script_candidates.txt
  proofs/ci/quality_run.json
  proofs/ci/summary.txt
  proofs/context-fixed/index.json
  proofs/context/index.json
  proofs/endpoints/context-search.json
  proofs/endpoints/research-search.json
  proofs/git/backup_tag.json
  proofs/healthz/code.txt
  proofs/healthz/context.txt
  proofs/healthz/research.txt
  proofs/screens/chat_run_1_agents.png
  proofs/screens/chat_run_1_agents.webp
  proofs/screens/chat_run_2_swarm.png
  proofs/screens/chat_run_2_swarm.webp
  proofs/screens/chat_run_3_context.png
  proofs/screens/chat_run_3_context.webp
  proofs/screens/opinion_ai_factory.png
  proofs/screens/opinion_ai_factory.webp
  proofs/screens/opinion_projects.png
  proofs/screens/opinion_projects.webp
  proofs/screens/tiles_overview.png
  proofs/screens/tiles_overview.webp
  scripts/_archive/README.md
Owners: @ai-cherry/platform, @ai-cherry/maintainers, @ai-cherry/ai

[proof] code: healthz + endpoint proofs (run 17134141428)
  proofs/manifest-snapshot.json
Owners: @ai-cherry/maintainers

[proof] Final comprehensive capability testing - backend operational, frontend needs fixes
  proofs/final-tests/FINAL_TEST_ANALYSIS.md
  proofs/final-tests/final_test_start.png
  proofs/final-tests/final_test_start.webp
  proofs/final-tests/research_api_test.json
  proofs/final-tests/research_search_test.json
  proofs/final-tests/test_1_research_request.png
  proofs/final-tests/test_1_research_request.webp
  proofs/final-tests/test_2_swarm_request.png
  proofs/final-tests/test_2_swarm_request.webp
  proofs/final-tests/test_3_github_request.png
  proofs/final-tests/test_3_github_request.webp
  proofs/final-tests/test_4_business_integration_request.png
  proofs/final-tests/test_4_business_integration_request.webp
  proofs/final-tests/test_5_deployment_request.png
  proofs/final-tests/test_5_deployment_request.webp
Owners: @ai-cherry/maintainers

[hotfix] Fix [object Object] issue with safe JSON handling, Zod validation, and proper UI components
  .github/workflows/dashboard-hotfix-smoke-test.yml
  apps/dashboard/dist/assets/index-Co2Ao1rs.js
  apps/dashboard/dist/index.html
  apps/dashboard/package-lock.json
  apps/dashboard/package.json
  apps/dashboard/src/components/EnhancedAuthenticatedApp.jsx
  apps/dashboard/src/components/JsonBlock.jsx
  apps/dashboard/src/components/ResearchPanel.jsx
  apps/dashboard/src/components/ResultCard.jsx
  apps/dashboard/src/components/SafeChatPanel.jsx
  docs/FINAL_COMPLETION_REPORT.md
  mcp_servers/research/app.py
  proofs/endpoints-final/context-index.json
  proofs/endpoints-final/context-search.json
  proofs/endpoints-hotfix/dashboard_before_hotfix_test.png
  proofs/endpoints-hotfix/dashboard_before_hotfix_test.webp
  proofs/endpoints-hotfix/dashboard_still_shows_object_object.png
  proofs/endpoints-hotfix/dashboard_still_shows_object_object.webp
  proofs/endpoints-hotfix/research-healthz.txt
  proofs/endpoints-hotfix/research-search-post.json
Owners: @ai-cherry/platform, @ai-cherry/maintainers, @ai-cherry/ai

[proof] research: healthz + endpoint proofs (run 17134737631)
  proofs/manifest-snapshot.json
Owners: @ai-cherry/maintainers

[NUKE RAILWAY COMPLETE] Bulletproof deployment with GitHub Actions
  .github/workflows/deploy-dashboard-bulletproof.yml
  apps/dashboard/fly.toml
  apps/dashboard/nginx.conf
  apps/dashboard/src/components/SafeChatPanel.jsx
  apps/dashboard/src/config.ts
  proofs/final-comprehensive-test/FINAL_RESULTS.md
Owners: @ai-cherry/platform, @ai-cherry/maintainers

[NUKE] Completely eliminate Railway - replace with Fly.dev services
  apps/dashboard/fly.toml
  apps/dashboard/nginx.conf
  apps/dashboard/src/components/EnhancedChatPanel.jsx
  proofs/endpoints-hotfix/dashboard_object_object_still_present.png
  proofs/endpoints-hotfix/dashboard_object_object_still_present.webp
  proofs/final-comprehensive-test/research-ai-platforms.json
  proofs/final-comprehensive-test/test-log.txt
Owners: @ai-cherry/maintainers

[proof] dashboard hotfix smoke test - 20250821-180839
  proofs/endpoints/context-search.json
  proofs/endpoints/research-search.json
Owners: @ai-cherry/maintainers

[HOTFIX] Fix dashboard base path from /dashboard/ to / for proper asset loading
  apps/dashboard/vite.config.js
Owners: @ai-cherry/maintainers

[FINAL FIX] Dashboard: base=/, pinned deps, build endpoint, proper Dockerfile - eliminate [object Object] forever
  apps/dashboard/dist/index.html
  apps/dashboard/nginx.conf
  apps/dashboard/package-lock.json
  apps/dashboard/package.json
Owners: @ai-cherry/maintainers

[RAILWAY PURGE] Complete elimination of Railway references - ready for 100% Fly.io deployment
  SOPHIA_INTEL_100_PERCENT_SUCCESS_REPORT.md
  SOPHIA_INTEL_COMPREHENSIVE_TEST_REPORT.md
  SOPHIA_ORCHESTRATOR_KNOWLEDGE_BASE.md
  SOPHIA_SECURE_ENVIRONMENT_SETUP.md
  SOPHIA_TRANSFORMATION_COMPLETE.md
  ULTIMATE_DEPLOYMENT_REPORT.md
  apps/dashboard/src/App-complex.jsx
  apps/dashboard/src/App-with-auth.jsx
  apps/dashboard/src/components/SafeChatPanel.jsx
  backend/consolidated_services.py
  backend/main.py
  backend/ultimate_orchestrator.py
  deploy_production.py
  deploy_sophia_secure.py
  deployment/complete-production-deploy.py
  deployment/configure-dns.sh
  deployment/dns-configuration.py
  deployment/production-deploy.py
  deployment/railway/deploy.sh
  deployment/railway/production-config.yaml
  deployment_report.json
  docs/COMPREHENSIVE_DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_RUNBOOK.md
  docs/DNS_CONFIGURATION_GUIDE.md
  docs/INFRASTRUCTURE_GUIDE.md
  docs/RAILWAY_DEPLOYMENT.md
  infrastructure/pulumi/.gitignore
  infrastructure/pulumi/Pulumi.yaml
  infrastructure/pulumi/__main__.py
  infrastructure/pulumi_manager.py
  pulumi/environments/sophia-prod.yaml
  scripts/configure_dns.py
  standalone_sophia.py
Owners: @ai-cherry/maintainers, @ai-cherry/backend

[DEPLOY] Trigger new deployment with vite base path fix
  apps/dashboard/README.md
Owners: @ai-cherry/maintainers

[FIX] Add Dockerfile path to fly.toml for proper build
  apps/dashboard/fly.toml
Owners: @ai-cherry/maintainers

[FIX] Add Dockerfile path to fly.toml + fresh build with correct paths
  apps/dashboard/deploy.sh
  apps/dashboard/dist/index.html
  apps/dashboard/nuke_and_deploy.sh
  apps/dashboard/verify_deployment.sh
Owners: @ai-cherry/maintainers

[FIX] Correct Dockerfile path in fly.toml
  apps/dashboard/fly.toml
Owners: @ai-cherry/maintainers

[FIX] Add ignorefile to fly.toml to force Dockerfile usage
  apps/dashboard/fly.toml
Owners: @ai-cherry/maintainers

[FINAL FIX] Force Docker build in fly.toml - disable auto-detection
  apps/dashboard/fly.toml
Owners: @ai-cherry/maintainers
