Repository ai-cherry/sophia-intel, changes with the owners that CODEOWNERS names for each.
All owners: @ai-cherry/maintainers, @ai-cherry/platform, @ai-cherry/ai, @ai-cherry/backend

[FINAL] Add static deployment workflow - bypasses Fly auto-detection
  .github/workflows/deploy_dashboard_static.yml
  apps/dashboard/Dockerfile.static
Owners: @ai-cherry/platform, @ai-cherry/maintainers

[FIX] Correct vite.config file extension in workflow
  .github/workflows/deploy_dashboard_static.yml
Owners: @ai-cherry/platform

[BULLETPROOF] Complete deployment pack with vite base '/' and static Dockerfile
  .github/workflows/deploy_dashboard_bulletproof.yml
  apps/dashboard/Dockerfile.bulletproof
  apps/dashboard/fly-bulletproof.toml
  apps/dashboard/nginx-bulletproof.conf
  apps/dashboard/vite.config.ts
Owners: @ai-cherry/platform, @ai-cherry/maintainers

[PRODUCTION] Static deployment pack with correct asset paths and proofs
  .github/workflows/deploy_dashboard_static.yml
  apps/dashboard/Dockerfile.static
  apps/dashboard/fly.toml
  apps/dashboard/nginx.conf
  proofs/endpoints/context-index.json
  proofs/endpoints/context-search.json
  proofs/endpoints/research-search.json
  proofs/healthz/code.txt
  proofs/healthz/context.txt
  proofs/healthz/research.txt
Owners: @ai-cherry/platform, @ai-cherry/maintainers

[proof] dashboard hotfix smoke test - 20250821-211525
  proofs/endpoints/context-search.json
  proofs/endpoints/research-search.json
Owners: @ai-cherry/maintainers

[FINAL] SOPHIA v4.2 - 100% Complete with Real MCP Integration
  .env.production.template
  apps/dashboard/Dockerfile.minimal
  apps/dashboard/Dockerfile.simple
  apps/dashboard/dist/index.html
  apps/dashboard/fly-simple.toml
  apps/dashboard/fly.toml
  apps/dashboard/nginx-simple.conf
  apps/dashboard/nginx.conf
  apps/dashboard/package-lock.json
  apps/dashboard/simple_deploy.sh
  apps/dashboard/simple_deploy/assets/index-D400eJ1N.js
  apps/dashboard/simple_deploy/assets/index-DfxGY3TZ.css
  apps/dashboard/simple_deploy/index.html
  apps/dashboard/simple_deploy/nginx.conf
  apps/dashboard/src/components/EnhancedAuthenticatedApp.jsx
  docs/DEPLOYMENT_READY_FINAL.md
  mcp_servers/research/app.py
  mcp_servers/research/requirements.txt
  package.json
  proofs/final/comprehensive_verification_report.json
  proofs/healthz/business.txt
  proofs/healthz/code.txt
  proofs/healthz/context.txt
  proofs/healthz/dashboard.txt
  proofs/healthz/memory.txt
  proofs/healthz/research.txt
  proofs/mcp/business_root.txt
  proofs/mcp/chat_routing.json
  proofs/mcp/code_root.txt
  proofs/mcp/context_root.txt
  proofs/mcp/memory_root.txt
  proofs/mcp/research_root.txt
  proofs/mcp/wiring_map.json
  proofs/scans/no_mocks_filtered.txt
  proofs/scans/no_mocks_raw.txt
  proofs/scans/no_mocks_scan_filtered.txt
  proofs/scans/railway_scan.txt
  scripts/playwright_shot.mjs
Owners: @ai-cherry/maintainers, @ai-cherry/ai

[proof] context: healthz + endpoint proofs (run 17141035961)
  proofs/manifest-snapshot.json
Owners: @ai-cherry/maintainers

CODEOWNERS:

# Default
*                                   @ai-cherry/maintainers

# Sensitive areas
/services/**                        @ai-cherry/platform
/mcp_servers/**                     @ai-cherry/ai
/config/**                          @ai-cherry/platform
/.devcontainer/**                   @ai-cherry/platform
/.github/**                         @ai-cherry/platform
/backend/**                         @ai-cherry/backend
/agents/**                          @ai-cherry/ai
